<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../css/styles.css" rel="stylesheet" />


<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-outline-dark flex-shrink-0" type="submit">Adopt</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>