<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <img src="https://www.rspca.org.uk/documents/1494939/7712581/1178888-german-shepherd-training-banner_990x350.jpg/eb84a429-184a-a61b-304c-f2fed1ae6846?t=1653657451352" alt="">
        <h1>Dog training
        </h1></div>
            
            <div class="body">
                <p>Successful training is a rewarding part of dog ownership, as well as a lovely way for the two of you to bond and build a good relationship. Whether young or old, all dogs can benefit from learning some basic commands. If the basics such as sit, down, stay and leave are what you're looking for, look no further...</p>
    
    <h2>What are the benefits of training my dog?</h2>
    
    <p>Teaching your dog basic obedience - such as sit, wait and coming back when called - gives them the freedom to do the things they like to do, like running off lead and coming with you to meet friends and family, while being safe and under control.</p>
    
    <p>What's more, dogs are intelligent animals and most love to learn, so training can be a great way of stopping them from getting bored.</p>
    
    <h2>How do dogs learn?</h2>
    
    <p>All training should be reward based. Giving your dog something they really like - such as food, toys or praise - when they show a particular behaviour means that they're more likely to do it again.</p>
    
    <p>It's important to find out what your dog really likes and what their favourite things are. Favourite treats are often small pieces of meat or cheese. The better the reward, the more your dog will enjoy training and learning!</p>
    
    <h2>Top training tips</h2>
    
    <ul>
        <li>Minimise distractions - always start lessons for new tricks in a quiet room in your house away from any distractions</li>
        <li>Break training up into short but regular sessions so your dog isn't overwhelmed</li>
        <li>Be patient - just like us, dogs all learn at different rates so don't worry if your dog doesn't pick things up straight away</li>
        <li>Always end with something your dog knows, so the session finishes positively</li>
        <li>Have fun - training is a great way for you to bond with your dog!</li>
    </ul>
    <h2>Get to grips with the basics</h2>

<p>Our guides can help you with the basics of how to train your dog, but we also recommend <a href="/adviceandwelfare/pets/dogs/training/trainer">dog training classes</a> - especially for more advanced methods, such as clicker training.</p>

<p>If you have any problems, try asking a <a href="/adviceandwelfare/pets/general/findabehaviourist">qualified behaviourist</a> for advice. They specialise in behavioural issues such as excessive barking, aggression, destructiveness and phobias. You can also enlist the help of a dog training instructor if you need a bit of extra help.</p>

    </main>
<%- include('../includes/end.ejs') %>